% mfluadir/mfluatrap/texmf.cnf -- configuration for the MFLua and MFLuaJIT trap tests.

% These values apply to all the programs, and they are necessary for any
% kind of reasonable diff.
error_line = 64
half_error_line = 32
max_print_line = 72
		
% Metafont
main_memory       = 3001

% Actually, Metafont currently ignores the settings for max_strings,
% string_vacancies and pool_size specified here, but it doesn't hurt
% to supply the correct values, just in case this changes one day.

max_strings       = 2000
string_vacancies = 8000
pool_size = 40000

gf_buf_size    = 8   % trapman.tex says to use this.
MFTERM    = trap     % get the right screen output
screen_width    = 100
screen_depth    = 200

% Search paths. 
% trap.mf:
MFINPUTS = .
% trip.tfm, trap.tfm, trapf.tfm:
TFMFONTS = .
% trap.base:
MFBASES = .
% mf.pool:
MFPOOL = .

% GFtype only.
line_length.gftype = 79
max_rows.gftype = 79
max_cols.gftype = 79
