*.swp
*.o
*.un~
*~
*.exe
*.pdb
GPATH
GRTAGS
GSYMS
GTAGS
build-gcc/macOS-arm64.rb.lock
build-gcc/macOS-x86_64.rb.lock
build-msvc/*.lib
build-msvc/*.exe
build-msvc/*.obj
build-msvc/build/mruby/*
src/libotf/CVS
src/libotf/src/CVS
src/libotf/example/CVS
texlive/.svn
.DS_Store
src/aptex
src/libcairo.a
src/libcairo/libcairo.a
src/libdpx.a
src/libdpx/libdpx.a
src/libfreetype.a
src/libkpathsea.a
src/libmruby.a
src/libotf.a
src/libotf/libotf.a
src/libmd5.a
src/libmd5/libmd5.a
src/libpaper.a
src/libpixman.a
src/libpng.a
src/libptexenc.a
src/libyaml.a
src/libyaml/libyaml.a
src/libz.a
src/lsotfea
src/ptex-ng
src/libcairo-pdf.a
src/libcairo/libcairo-pdf.a
src/libyaml/Makefile
src/libyaml/config.log
src/libyaml/config.status
src/libyaml/include/Makefile
src/libyaml/include/config.h
src/libyaml/include/stamp-h1
src/libyaml/libtool
src/libyaml/src/.deps/
src/libyaml/src/.libs/
src/libyaml/src/Makefile
src/libyaml/src/api.lo
src/libyaml/src/dumper.lo
src/libyaml/src/emitter.lo
src/libyaml/src/libyaml.la
src/libyaml/src/loader.lo
src/libyaml/src/parser.lo
src/libyaml/src/reader.lo
src/libyaml/src/scanner.lo
src/libyaml/src/writer.lo
src/libyaml/tests/.deps/
src/libyaml/tests/.libs/
src/libyaml/tests/Makefile
src/libyaml/tests/example-deconstructor
src/libyaml/tests/example-deconstructor-alt
src/libyaml/tests/example-reformatter
src/libyaml/tests/example-reformatter-alt
src/libyaml/tests/run-dumper
src/libyaml/tests/run-emitter
src/libyaml/tests/run-emitter-test-suite
src/libyaml/tests/run-loader
src/libyaml/tests/run-parser
src/libyaml/tests/run-parser-test-suite
src/libyaml/tests/run-scanner
src/libyaml/yaml-0.1.pc
texlive/.github/
texlive/libs/cairo/.deps/
texlive/libs/cairo/Makefile
texlive/libs/cairo/cairo-features.h
texlive/libs/cairo/cairo-src/src/.deps/
texlive/libs/cairo/cairo-src/src/.dirstamp
texlive/libs/cairo/cairo/Makefile
texlive/libs/cairo/cairo/cairo-deprecated.h
texlive/libs/cairo/cairo/cairo-features.h
texlive/libs/cairo/cairo/cairo-version.h
texlive/libs/cairo/cairo/cairo.h
texlive/libs/cairo/config.force
texlive/libs/cairo/config.h
texlive/libs/cairo/config.log
texlive/libs/cairo/config.status
texlive/libs/cairo/libcairo.a
texlive/libs/cairo/stamp-h1
texlive/libs/cairo/stamp-h2
texlive/libs/freetype2/Makefile
texlive/libs/freetype2/config.log
texlive/libs/freetype2/config.status
texlive/libs/freetype2/freetype2/
texlive/libs/freetype2/ft-build/
texlive/libs/freetype2/ft-config
texlive/libs/freetype2/ft-install/
texlive/libs/freetype2/libfreetype.a
texlive/libs/freetype2/libfreetype.la
texlive/libs/freetype2/pkgconfig/
texlive/libs/libpaper/Makefile
texlive/libs/libpaper/config.force
texlive/libs/libpaper/config.h
texlive/libs/libpaper/config.log
texlive/libs/libpaper/config.status
texlive/libs/libpaper/include/Makefile
texlive/libs/libpaper/include/paper.h
texlive/libs/libpaper/libpaper-src/lib/.deps/
texlive/libs/libpaper/libpaper-src/lib/.dirstamp
texlive/libs/libpaper/libpaper-src/src/.deps/
texlive/libs/libpaper/libpaper.a
texlive/libs/libpaper/paperconf.1
texlive/libs/libpaper/stamp-h1
texlive/libs/libpng/Makefile
texlive/libs/libpng/config.force
texlive/libs/libpng/config.h
texlive/libs/libpng/config.log
texlive/libs/libpng/config.status
texlive/libs/libpng/include/Makefile
texlive/libs/libpng/include/png.h
texlive/libs/libpng/include/pngconf.h
texlive/libs/libpng/include/pnglibconf.h
texlive/libs/libpng/libpng-src/.deps/
texlive/libs/libpng/libpng-src/.dirstamp
texlive/libs/libpng/libpng-src/arm/.deps/
texlive/libs/libpng/libpng-src/powerpc/.deps/
texlive/libs/libpng/libpng-src/powerpc/.dirstamp
texlive/libs/libpng/libpng.a
texlive/libs/libpng/stamp-h1
texlive/libs/pixman/.deps/
texlive/libs/pixman/Makefile
texlive/libs/pixman/config.h
texlive/libs/pixman/config.log
texlive/libs/pixman/config.status
texlive/libs/pixman/include/Makefile
texlive/libs/pixman/include/pixman-version.h
texlive/libs/pixman/include/pixman.h
texlive/libs/pixman/libpixman.a
texlive/libs/pixman/pixman-src/pixman/.deps/
texlive/libs/pixman/pixman-src/pixman/.dirstamp
texlive/libs/pixman/pixman-version.h
texlive/libs/pixman/stamp-h1
texlive/libs/zlib/Makefile
texlive/libs/zlib/config.h
texlive/libs/zlib/config.log
texlive/libs/zlib/config.status
texlive/libs/zlib/include/Makefile
texlive/libs/zlib/include/zconf.h
texlive/libs/zlib/include/zlib.h
texlive/libs/zlib/libz.a
texlive/libs/zlib/stamp-h1
texlive/libs/zlib/zconf.h
texlive/libs/zlib/zlib-src/.deps/
texlive/libs/zlib/zlib-src/.dirstamp
texlive/libs/zlib/zlib-src/test/.deps/
texlive/texk/kpathsea/.deps/
texlive/texk/kpathsea/.libs/
texlive/texk/kpathsea/Makefile
texlive/texk/kpathsea/c-auto.h
texlive/texk/kpathsea/config.log
texlive/texk/kpathsea/config.status
texlive/texk/kpathsea/doc/Makefile
texlive/texk/kpathsea/kpathsea.h
texlive/texk/kpathsea/kpathsea.pc
texlive/texk/kpathsea/kpseaccess
texlive/texk/kpathsea/kpsereadlink
texlive/texk/kpathsea/kpsestat
texlive/texk/kpathsea/kpsewhich
texlive/texk/kpathsea/libkpathsea.la
texlive/texk/kpathsea/libkpathsea_la-absolute.lo
texlive/texk/kpathsea/libkpathsea_la-atou.lo
texlive/texk/kpathsea/libkpathsea_la-cnf.lo
texlive/texk/kpathsea/libkpathsea_la-concat.lo
texlive/texk/kpathsea/libkpathsea_la-concat3.lo
texlive/texk/kpathsea/libkpathsea_la-concatn.lo
texlive/texk/kpathsea/libkpathsea_la-db.lo
texlive/texk/kpathsea/libkpathsea_la-debug.lo
texlive/texk/kpathsea/libkpathsea_la-dir.lo
texlive/texk/kpathsea/libkpathsea_la-elt-dirs.lo
texlive/texk/kpathsea/libkpathsea_la-expand.lo
texlive/texk/kpathsea/libkpathsea_la-extend-fname.lo
texlive/texk/kpathsea/libkpathsea_la-file-p.lo
texlive/texk/kpathsea/libkpathsea_la-find-suffix.lo
texlive/texk/kpathsea/libkpathsea_la-fn.lo
texlive/texk/kpathsea/libkpathsea_la-fontmap.lo
texlive/texk/kpathsea/libkpathsea_la-getopt.lo
texlive/texk/kpathsea/libkpathsea_la-getopt1.lo
texlive/texk/kpathsea/libkpathsea_la-hash.lo
texlive/texk/kpathsea/libkpathsea_la-kdefault.lo
texlive/texk/kpathsea/libkpathsea_la-kpathsea.lo
texlive/texk/kpathsea/libkpathsea_la-line.lo
texlive/texk/kpathsea/libkpathsea_la-magstep.lo
texlive/texk/kpathsea/libkpathsea_la-make-suffix.lo
texlive/texk/kpathsea/libkpathsea_la-path-elt.lo
texlive/texk/kpathsea/libkpathsea_la-pathsearch.lo
texlive/texk/kpathsea/libkpathsea_la-proginit.lo
texlive/texk/kpathsea/libkpathsea_la-progname.lo
texlive/texk/kpathsea/libkpathsea_la-readable.lo
texlive/texk/kpathsea/libkpathsea_la-rm-suffix.lo
texlive/texk/kpathsea/libkpathsea_la-str-list.lo
texlive/texk/kpathsea/libkpathsea_la-str-llist.lo
texlive/texk/kpathsea/libkpathsea_la-tex-file.lo
texlive/texk/kpathsea/libkpathsea_la-tex-glyph.lo
texlive/texk/kpathsea/libkpathsea_la-tex-hush.lo
texlive/texk/kpathsea/libkpathsea_la-tex-make.lo
texlive/texk/kpathsea/libkpathsea_la-tilde.lo
texlive/texk/kpathsea/libkpathsea_la-uppercasify.lo
texlive/texk/kpathsea/libkpathsea_la-variable.lo
texlive/texk/kpathsea/libkpathsea_la-version.lo
texlive/texk/kpathsea/libkpathsea_la-xbasename.lo
texlive/texk/kpathsea/libkpathsea_la-xcalloc.lo
texlive/texk/kpathsea/libkpathsea_la-xdirname.lo
texlive/texk/kpathsea/libkpathsea_la-xfopen.lo
texlive/texk/kpathsea/libkpathsea_la-xfseek.lo
texlive/texk/kpathsea/libkpathsea_la-xfseeko.lo
texlive/texk/kpathsea/libkpathsea_la-xftell.lo
texlive/texk/kpathsea/libkpathsea_la-xftello.lo
texlive/texk/kpathsea/libkpathsea_la-xgetcwd.lo
texlive/texk/kpathsea/libkpathsea_la-xmalloc.lo
texlive/texk/kpathsea/libkpathsea_la-xopendir.lo
texlive/texk/kpathsea/libkpathsea_la-xputenv.lo
texlive/texk/kpathsea/libkpathsea_la-xrealloc.lo
texlive/texk/kpathsea/libkpathsea_la-xstat.lo
texlive/texk/kpathsea/libkpathsea_la-xstrdup.lo
texlive/texk/kpathsea/libtool
texlive/texk/kpathsea/man/Makefile
texlive/texk/kpathsea/man/kpseaccess.1
texlive/texk/kpathsea/man/kpsereadlink.1
texlive/texk/kpathsea/man/kpsestat.1
texlive/texk/kpathsea/man/kpsewhich.1
texlive/texk/kpathsea/man/mktexlsr.1
texlive/texk/kpathsea/man/mktexmf.1
texlive/texk/kpathsea/man/mktexpk.1
texlive/texk/kpathsea/man/mktextfm.1
texlive/texk/kpathsea/man/sedscript
texlive/texk/kpathsea/paths.h
texlive/texk/kpathsea/stamp-h1
texlive/texk/kpathsea/stamp-kpathsea
texlive/texk/kpathsea/stamp-paths
texlive/texk/kpathsea/win32/.deps/
texlive/texk/kpathsea/win32/Makefile
texlive/texk/ptexenc/.deps/
texlive/texk/ptexenc/.libs/
texlive/texk/ptexenc/Makefile
texlive/texk/ptexenc/config.log
texlive/texk/ptexenc/config.lt
texlive/texk/ptexenc/config.status
texlive/texk/ptexenc/libptexenc.la
texlive/texk/ptexenc/libptexenc_la-kanjicnv.lo
texlive/texk/ptexenc/libptexenc_la-ptexenc.lo
texlive/texk/ptexenc/libptexenc_la-unicode-jp.lo
texlive/texk/ptexenc/libptexenc_la-unicode.lo
texlive/texk/ptexenc/libtool
texlive/texk/ptexenc/ptekf
texlive/texk/ptexenc/ptexenc.pc
texlive/texk/ptexenc/ptexenc/c-auto.h
texlive/texk/ptexenc/ptexenc/stamp-h1
