*.swp
libs/libpng/Makefile
libs/libpng/config.force
libs/libpng/config.h
libs/libpng/config.log
libs/libpng/config.status
libs/libpng/include/Makefile
libs/libpng/include/png.h
libs/libpng/include/pngconf.h
libs/libpng/include/pnglibconf.h
libs/libpng/libpng-1.6.15/.deps/
libs/libpng/libpng-1.6.15/.dirstamp
libs/libpng/libpng-1.6.15/png.o
libs/libpng/libpng-1.6.15/pngerror.o
libs/libpng/libpng-1.6.15/pngget.o
libs/libpng/libpng-1.6.15/pngmem.o
libs/libpng/libpng-1.6.15/pngpread.o
libs/libpng/libpng-1.6.15/pngread.o
libs/libpng/libpng-1.6.15/pngrio.o
libs/libpng/libpng-1.6.15/pngrtran.o
libs/libpng/libpng-1.6.15/pngrutil.o
libs/libpng/libpng-1.6.15/pngset.o
libs/libpng/libpng-1.6.15/pngtrans.o
libs/libpng/libpng-1.6.15/pngwio.o
libs/libpng/libpng-1.6.15/pngwrite.o
libs/libpng/libpng-1.6.15/pngwtran.o
libs/libpng/libpng-1.6.15/pngwutil.o
libs/libpng/libpng.a
libs/libpng/stamp-h1
libs/zlib/Makefile
libs/zlib/config.h
libs/zlib/config.log
libs/zlib/config.status
libs/zlib/include/Makefile
libs/zlib/include/zconf.h
libs/zlib/include/zlib.h
libs/zlib/libz.a
libs/zlib/stamp-h1
libs/zlib/zconf.h
libs/zlib/zlib-1.2.8/.deps/
libs/zlib/zlib-1.2.8/.dirstamp
libs/zlib/zlib-1.2.8/adler32.o
libs/zlib/zlib-1.2.8/compress.o
libs/zlib/zlib-1.2.8/crc32.o
libs/zlib/zlib-1.2.8/deflate.o
libs/zlib/zlib-1.2.8/gzclose.o
libs/zlib/zlib-1.2.8/gzlib.o
libs/zlib/zlib-1.2.8/gzread.o
libs/zlib/zlib-1.2.8/gzwrite.o
libs/zlib/zlib-1.2.8/infback.o
libs/zlib/zlib-1.2.8/inffast.o
libs/zlib/zlib-1.2.8/inflate.o
libs/zlib/zlib-1.2.8/inftrees.o
libs/zlib/zlib-1.2.8/test/.deps/
libs/zlib/zlib-1.2.8/trees.o
libs/zlib/zlib-1.2.8/uncompr.o
libs/zlib/zlib-1.2.8/zutil.o
texk/kpathsea/.deps/
texk/kpathsea/.libs/
texk/kpathsea/Makefile
texk/kpathsea/access.o
texk/kpathsea/c-auto.h
texk/kpathsea/config.log
texk/kpathsea/config.status
texk/kpathsea/doc/Makefile
texk/kpathsea/kpathsea.h
texk/kpathsea/kpathsea.pc
texk/kpathsea/kpseaccess
texk/kpathsea/kpsereadlink
texk/kpathsea/kpsestat
texk/kpathsea/kpsestat.o
texk/kpathsea/kpsewhich
texk/kpathsea/kpsewhich.o
texk/kpathsea/libkpathsea.la
texk/kpathsea/libkpathsea_la-absolute.lo
texk/kpathsea/libkpathsea_la-absolute.o
texk/kpathsea/libkpathsea_la-atou.lo
texk/kpathsea/libkpathsea_la-atou.o
texk/kpathsea/libkpathsea_la-cnf.lo
texk/kpathsea/libkpathsea_la-cnf.o
texk/kpathsea/libkpathsea_la-concat.lo
texk/kpathsea/libkpathsea_la-concat.o
texk/kpathsea/libkpathsea_la-concat3.lo
texk/kpathsea/libkpathsea_la-concat3.o
texk/kpathsea/libkpathsea_la-concatn.lo
texk/kpathsea/libkpathsea_la-concatn.o
texk/kpathsea/libkpathsea_la-db.lo
texk/kpathsea/libkpathsea_la-db.o
texk/kpathsea/libkpathsea_la-debug.lo
texk/kpathsea/libkpathsea_la-debug.o
texk/kpathsea/libkpathsea_la-dir.lo
texk/kpathsea/libkpathsea_la-dir.o
texk/kpathsea/libkpathsea_la-elt-dirs.lo
texk/kpathsea/libkpathsea_la-elt-dirs.o
texk/kpathsea/libkpathsea_la-expand.lo
texk/kpathsea/libkpathsea_la-expand.o
texk/kpathsea/libkpathsea_la-extend-fname.lo
texk/kpathsea/libkpathsea_la-extend-fname.o
texk/kpathsea/libkpathsea_la-file-p.lo
texk/kpathsea/libkpathsea_la-file-p.o
texk/kpathsea/libkpathsea_la-find-suffix.lo
texk/kpathsea/libkpathsea_la-find-suffix.o
texk/kpathsea/libkpathsea_la-fn.lo
texk/kpathsea/libkpathsea_la-fn.o
texk/kpathsea/libkpathsea_la-fontmap.lo
texk/kpathsea/libkpathsea_la-fontmap.o
texk/kpathsea/libkpathsea_la-getopt.lo
texk/kpathsea/libkpathsea_la-getopt.o
texk/kpathsea/libkpathsea_la-getopt1.lo
texk/kpathsea/libkpathsea_la-getopt1.o
texk/kpathsea/libkpathsea_la-hash.lo
texk/kpathsea/libkpathsea_la-hash.o
texk/kpathsea/libkpathsea_la-kdefault.lo
texk/kpathsea/libkpathsea_la-kdefault.o
texk/kpathsea/libkpathsea_la-kpathsea.lo
texk/kpathsea/libkpathsea_la-kpathsea.o
texk/kpathsea/libkpathsea_la-line.lo
texk/kpathsea/libkpathsea_la-line.o
texk/kpathsea/libkpathsea_la-magstep.lo
texk/kpathsea/libkpathsea_la-magstep.o
texk/kpathsea/libkpathsea_la-make-suffix.lo
texk/kpathsea/libkpathsea_la-make-suffix.o
texk/kpathsea/libkpathsea_la-path-elt.lo
texk/kpathsea/libkpathsea_la-path-elt.o
texk/kpathsea/libkpathsea_la-pathsearch.lo
texk/kpathsea/libkpathsea_la-pathsearch.o
texk/kpathsea/libkpathsea_la-proginit.lo
texk/kpathsea/libkpathsea_la-proginit.o
texk/kpathsea/libkpathsea_la-progname.lo
texk/kpathsea/libkpathsea_la-progname.o
texk/kpathsea/libkpathsea_la-readable.lo
texk/kpathsea/libkpathsea_la-readable.o
texk/kpathsea/libkpathsea_la-rm-suffix.lo
texk/kpathsea/libkpathsea_la-rm-suffix.o
texk/kpathsea/libkpathsea_la-str-list.lo
texk/kpathsea/libkpathsea_la-str-list.o
texk/kpathsea/libkpathsea_la-str-llist.lo
texk/kpathsea/libkpathsea_la-str-llist.o
texk/kpathsea/libkpathsea_la-tex-file.lo
texk/kpathsea/libkpathsea_la-tex-file.o
texk/kpathsea/libkpathsea_la-tex-glyph.lo
texk/kpathsea/libkpathsea_la-tex-glyph.o
texk/kpathsea/libkpathsea_la-tex-hush.lo
texk/kpathsea/libkpathsea_la-tex-hush.o
texk/kpathsea/libkpathsea_la-tex-make.lo
texk/kpathsea/libkpathsea_la-tex-make.o
texk/kpathsea/libkpathsea_la-tilde.lo
texk/kpathsea/libkpathsea_la-tilde.o
texk/kpathsea/libkpathsea_la-uppercasify.lo
texk/kpathsea/libkpathsea_la-uppercasify.o
texk/kpathsea/libkpathsea_la-variable.lo
texk/kpathsea/libkpathsea_la-variable.o
texk/kpathsea/libkpathsea_la-version.lo
texk/kpathsea/libkpathsea_la-version.o
texk/kpathsea/libkpathsea_la-xbasename.lo
texk/kpathsea/libkpathsea_la-xbasename.o
texk/kpathsea/libkpathsea_la-xcalloc.lo
texk/kpathsea/libkpathsea_la-xcalloc.o
texk/kpathsea/libkpathsea_la-xdirname.lo
texk/kpathsea/libkpathsea_la-xdirname.o
texk/kpathsea/libkpathsea_la-xfopen.lo
texk/kpathsea/libkpathsea_la-xfopen.o
texk/kpathsea/libkpathsea_la-xfseek.lo
texk/kpathsea/libkpathsea_la-xfseek.o
texk/kpathsea/libkpathsea_la-xfseeko.lo
texk/kpathsea/libkpathsea_la-xfseeko.o
texk/kpathsea/libkpathsea_la-xftell.lo
texk/kpathsea/libkpathsea_la-xftell.o
texk/kpathsea/libkpathsea_la-xftello.lo
texk/kpathsea/libkpathsea_la-xftello.o
texk/kpathsea/libkpathsea_la-xgetcwd.lo
texk/kpathsea/libkpathsea_la-xgetcwd.o
texk/kpathsea/libkpathsea_la-xmalloc.lo
texk/kpathsea/libkpathsea_la-xmalloc.o
texk/kpathsea/libkpathsea_la-xopendir.lo
texk/kpathsea/libkpathsea_la-xopendir.o
texk/kpathsea/libkpathsea_la-xputenv.lo
texk/kpathsea/libkpathsea_la-xputenv.o
texk/kpathsea/libkpathsea_la-xrealloc.lo
texk/kpathsea/libkpathsea_la-xrealloc.o
texk/kpathsea/libkpathsea_la-xstat.lo
texk/kpathsea/libkpathsea_la-xstat.o
texk/kpathsea/libkpathsea_la-xstrdup.lo
texk/kpathsea/libkpathsea_la-xstrdup.o
texk/kpathsea/libtool
texk/kpathsea/man/Makefile
texk/kpathsea/man/kpseaccess.1
texk/kpathsea/man/kpsereadlink.1
texk/kpathsea/man/kpsestat.1
texk/kpathsea/man/kpsewhich.1
texk/kpathsea/man/mktexlsr.1
texk/kpathsea/man/mktexmf.1
texk/kpathsea/man/mktexpk.1
texk/kpathsea/man/mktextfm.1
texk/kpathsea/man/sedscript
texk/kpathsea/paths.h
texk/kpathsea/readlink.o
texk/kpathsea/stamp-h1
texk/kpathsea/stamp-paths
texk/kpathsea/win32/.deps/
texk/kpathsea/win32/Makefile
texk/libdpx/.deps/
texk/libdpx/.libs/
texk/libdpx/Makefile
texk/libdpx/config.force
texk/libdpx/config.h
texk/libdpx/config.log
texk/libdpx/config.lt
texk/libdpx/config.status
texk/libdpx/libdpx.a
texk/libdpx/libdpx_a-agl.o
texk/libdpx/libdpx_a-bmpimage.o
texk/libdpx/libdpx_a-cff.o
texk/libdpx/libdpx_a-cff_dict.o
texk/libdpx/libdpx_a-cid.o
texk/libdpx/libdpx_a-cidtype0.o
texk/libdpx/libdpx_a-cidtype2.o
texk/libdpx/libdpx_a-cmap.o
texk/libdpx/libdpx_a-cmap_read.o
texk/libdpx/libdpx_a-cmap_write.o
texk/libdpx/libdpx_a-cs_type2.o
texk/libdpx/libdpx_a-dpxconf.o
texk/libdpx/libdpx_a-dpxcrypt.o
texk/libdpx/libdpx_a-dpxfile.o
texk/libdpx/libdpx_a-dpxutil.o
texk/libdpx/libdpx_a-dvi.o
texk/libdpx/libdpx_a-dvipdfmx.o
texk/libdpx/libdpx_a-epdf.o
texk/libdpx/libdpx_a-error.o
texk/libdpx/libdpx_a-fontmap.o
texk/libdpx/libdpx_a-jpegimage.o
texk/libdpx/libdpx_a-mem.o
texk/libdpx/libdpx_a-mfileio.o
texk/libdpx/libdpx_a-mpost.o
texk/libdpx/libdpx_a-numbers.o
texk/libdpx/libdpx_a-otl_conf.o
texk/libdpx/libdpx_a-otl_opt.o
texk/libdpx/libdpx_a-pdfcolor.o
texk/libdpx/libdpx_a-pdfdev.o
texk/libdpx/libdpx_a-pdfdoc.o
texk/libdpx/libdpx_a-pdfdraw.o
texk/libdpx/libdpx_a-pdfencoding.o
texk/libdpx/libdpx_a-pdfencrypt.o
texk/libdpx/libdpx_a-pdffont.o
texk/libdpx/libdpx_a-pdfnames.o
texk/libdpx/libdpx_a-pdfobj.o
texk/libdpx/libdpx_a-pdfparse.o
texk/libdpx/libdpx_a-pdfresource.o
texk/libdpx/libdpx_a-pdfximage.o
texk/libdpx/libdpx_a-pkfont.o
texk/libdpx/libdpx_a-pngimage.o
texk/libdpx/libdpx_a-pst.o
texk/libdpx/libdpx_a-pst_obj.o
texk/libdpx/libdpx_a-sfnt.o
texk/libdpx/libdpx_a-spc_color.o
texk/libdpx/libdpx_a-spc_dvips.o
texk/libdpx/libdpx_a-spc_html.o
texk/libdpx/libdpx_a-spc_misc.o
texk/libdpx/libdpx_a-spc_pdfm.o
texk/libdpx/libdpx_a-spc_tpic.o
texk/libdpx/libdpx_a-spc_util.o
texk/libdpx/libdpx_a-spc_xtx.o
texk/libdpx/libdpx_a-specials.o
texk/libdpx/libdpx_a-subfont.o
texk/libdpx/libdpx_a-t1_char.o
texk/libdpx/libdpx_a-t1_load.o
texk/libdpx/libdpx_a-tfm.o
texk/libdpx/libdpx_a-truetype.o
texk/libdpx/libdpx_a-tt_aux.o
texk/libdpx/libdpx_a-tt_cmap.o
texk/libdpx/libdpx_a-tt_glyf.o
texk/libdpx/libdpx_a-tt_gsub.o
texk/libdpx/libdpx_a-tt_post.o
texk/libdpx/libdpx_a-tt_table.o
texk/libdpx/libdpx_a-type0.o
texk/libdpx/libdpx_a-type1.o
texk/libdpx/libdpx_a-type1c.o
texk/libdpx/libdpx_a-unicode.o
texk/libdpx/libdpx_a-vf.o
texk/libdpx/libdpx_a-xbb.o
texk/libdpx/libtool
texk/libdpx/stamp-h1
texk/ptex-ng/libdpx.a
texk/ptex-ng/libkpathsea.a
texk/ptex-ng/libpng.a
texk/ptex-ng/libptexenc.a
texk/ptex-ng/libz.a
texk/ptex-ng/ptex-ng
texk/ptex-ng/ptex-ng-initex.o
texk/ptex-ng/ptex-ng-io.o
texk/ptex-ng/ptex-ng-kanji.o
texk/ptex-ng/ptex-ng-local.o
texk/ptex-ng/ptex-ng-pdf.o
texk/ptex-ng/ptex-ng-pool.o
texk/ptex-ng/ptex-ng-src.o
texk/ptex-ng/ptex-ng.o
texk/ptexenc/.deps/
texk/ptexenc/.libs/
texk/ptexenc/Makefile
texk/ptexenc/config.log
texk/ptexenc/config.lt
texk/ptexenc/config.status
texk/ptexenc/libptexenc.la
texk/ptexenc/libptexenc_la-kanjicnv.lo
texk/ptexenc/libptexenc_la-kanjicnv.o
texk/ptexenc/libptexenc_la-ptexenc.lo
texk/ptexenc/libptexenc_la-ptexenc.o
texk/ptexenc/libptexenc_la-unicode-jp.lo
texk/ptexenc/libptexenc_la-unicode-jp.o
texk/ptexenc/libptexenc_la-unicode.lo
texk/ptexenc/libptexenc_la-unicode.o
texk/ptexenc/libtool
texk/ptexenc/ptexenc.pc
texk/ptexenc/ptexenc/c-auto.h
texk/ptexenc/ptexenc/stamp-h1
texk/ptex-ng/GPATH
texk/ptex-ng/GRTAGS
texk/ptex-ng/GSYMS
texk/ptex-ng/GTAGS
texk/ptex-ng/aptex
texk/ptex-ng/aptex-src.o
texk/ptex-ng/aptex-synctex.o
texk/ptex-ng/aptex.o
