platform:
  - Any CPU
clone_depth: 2
environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
build_script:
  - cmd: call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
  - cmd: cd build-msvc
  - cmd: build-aptex.bat
test_script:
  - cmd: lsotfea.exe C:\Windows\Fonts\segoeui.ttf
  - cmd: aptex.exe --version
