/* Copyright 2014 Clerk Ma.

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful, but
   WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
   02110-1301 USA.  */

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    0,3,0,0
  PRODUCTVERSION 2,3,0,0
  FILEOS         VOS__WINDOWS32
  FILETYPE       VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName",        "Project Fandol.\0"
      VALUE "FileDescription",    "pTeX base on Y&Y TeX 2.3.0 (WIN32)\0"
      VALUE "FileVersion",        "0.3.0.0\0"
      VALUE "LegalCopyright",     "(C) 2014 Clerk Ma.\0"
      VALUE "OriginalFilename",   "yandytex.exe\0"
      VALUE "ProductName",        "Y&Y TeX\0"
      VALUE "ProductVersion",     "2.3.0.0\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252
  }
}
