IDI_ICON1 ICON DISCARDABLE "gregorio.ico"
1 VERSIONINFO
FILEVERSION     6,0,0,12
PRODUCTVERSION  6,0,0,12
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Gregorio project"
      VALUE "FileDescription", "Gregorio"
      VALUE "FileVersion", "6.0.0-beta2"
      VALUE "InternalName", "gregorio"
      VALUE "LegalCopyright", "See COPYING in the installation directory."
      VALUE "OriginalFilename", "gregorio.exe"
      VALUE "ProductName", "Gregorio"
      VALUE "ProductVersion", "6.0.0-beta2"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
