IDI_ICON1 ICON DISCARDABLE "gregorio.ico"
1 VERSIONINFO
FILEVERSION     5,2,1,30
PRODUCTVERSION  5,2,1,30
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Gregorio project"
      VALUE "FileDescription", "Gregorio"
      VALUE "FileVersion", "5.2.1"
      VALUE "InternalName", "gregorio"
      VALUE "LegalCopyright", "See COPYING in the installation directory."
      VALUE "OriginalFilename", "gregorio.exe"
      VALUE "ProductName", "Gregorio"
      VALUE "ProductVersion", "5.2.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
