# plain
ptex-ng ptex-ng language.def *ptex-ng.ini
# LaTeX
platex-ng ptex-ng language.dat *platex-ng.ini
platex-dev-ng ptex-ng language.dat *platex-ng.ini
# fmtutil-sys --cnffile fmt-ptex-ng.cnf --all
