% eptexdir/eptrip/texmf.cnf -- configuration for the e-ptrip test.

% These values apply to all the programs, and they are necessary for any
% kind of reasonable diff.
error_line = 64
half_error_line = 32
max_print_line = 72
		
% e-pTeX.
mem_bot          =    1
main_memory      = 4500
max_strings     = 3300
pool_size       = 40000

string_vacancies = 8000

% TeX end e-TeX.
font_mem_size = 20000
font_max = 75
stack_size = 200
nest_size = 40
buf_size = 500
save_size = 600
dvi_buf_size = 800
% Although hyph_size is settable, it can't be <hyph_prime, which is 607,
% and the original trip setting is 307, so no point in changing the default.

% Avoid running any MakeTeX* program.
MAKETEXTFM = 0
MAKETEXTEX = 0
MAKETEXMF = 0

% Search paths. 
% (e)trip.tex:
TEXINPUTS = .
% (e)trip.tfm:
TFMFONTS = .
% (e)trip.fmt:
TEXFORMATS = .
% etex.pool:
TEXPOOL = .
